body{
    background-color: #fff;
}

.navbar-default, .btn, .form-control, .panel {
	border-radius: 0;
}
.navbar-default {
    background-color: #cfbb29;
    border-color: #cfbb29;
    box-shadow: 0px 3px 3px 0px #ddd;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(245, 245, 220, .9);
    border-bottom: 4px solid red;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: rgba(45, 165, 179);
    border-color: rgba(45, 165, 179);
    border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.panel-footer {
	background-color: rgba(245, 245, 220, .5);
    border-color: rgba(245, 245, 220, .4);
}
.panel {
	box-shadow: 0px 3px 3px 0px #ddd;
}
a.navbar-brand, .panel-title {
	font-weight: bolder;
}
.row .pull-right .btn-default{
    background-color: #cfbb29;
}
.row .list-group-item{
    background-color: #a46aa6;
}
.panel-body .row .form-group{
    background-color: #a46aa6;
}
.row .col-lg-offset-2{
    background-color: rgba(45, 165, 179);
}